<p class="mt-6"></p>
<div class="left-content"><span class="main-content-title mg-b-0 mg-b-lg-1">Manage Payments</span></div>
<div class="overflow-scroll card" style="padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;">
    
</div>
<div class="payment-form">
    <form (submit)="handlePayment()">
      <label for="card-element">Credit or debit card</label>
      <div id="card-element" class="form-control"></div>
      <div *ngIf="cardError" class="error">{{ cardError }}</div>
      <button type="submit" class="btn btn-primary mt-3">Submit Payment</button>
    </form>
  </div>